#pricingparent{
    background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%);
    width:100%;
    height:100%;
    /* padding:10px; */
    color: white;
    border: 0.5px solid #5900b4
}
#parchat{
    display: none;
}
#nav{
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-between;
    padding-top: 10px;
    margin-top: 10px;
    /* border: 1px solid #5900b4; */
}

.texx{
    margin-left: 40px;
}
.btna1{
    /* border: 2px solid ; */
    border-radius: 20px;
    height:30px;
    width:10%;
    margin-top: 50px;
    background-color: #895dc8;
    color: white;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 40px;
}
.btna1:hover{
    cursor: pointer;
    background-color: #ff914d;
    transform: translateY(5px);
}
.btn2:hover{
    cursor: pointer;
    background-color: #ff914d;
    transform: translateY(5px);
}
.abtn11{
    margin-right: 80px;
    margin-left: 0px;
}
.btn2{
    /* border: 2px solid ; */
    border-radius: 20px;
    height:30px;
    width:5%;
    /* margin-top: 50px; */
    background-color: #895dc8;
    color: white;
    font-weight: 600;
    
}
.inrcol{
    color:#4e00ac;
}
.inrbtn{
    background-color:#4e00ac;
    border: none;
    color: white;
    height: 40px;
    width:60%;
    border-radius: 10px;
}
.inrbtn:hover{
    transform: rotate(5deg);
    cursor:pointer;
}
#child1{
    display: grid;
    grid-template-columns: repeat(4,25%);
    
    padding-left: 40px;
    /* border: 1px solid red; */
    width: 80%;
    
}
.child11{
    height: 200px;
    width:200px;
    /* border: 1px solid red; */
}
#pricingparent2{
    display: grid;
    grid-template-columns: repeat(4,25%);
    /* border: 1px solid red; */
    margin-top: 50px;
    background: #f8f8f8;
}
.childprice{
    width: 80%;
    /* border: 1px solid blue; */
}
#nomargin{
    margin-left: 20px;
}
#startparent{
    /* border: 1px solid blue; */
    display: flex;
    width: 70%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}
#image{
    width:400px;
    height:300px;
    /* border: 1px solid; */
}
#startchild{
    /* border: 1px solid red; */
    width: 45%;
    line-height: 30px;
}
#startchild button{
    width:50%;
    height:15%;
    background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%);
    border: none;
    border-radius: 40px;
}
#helpparent{
    /* border: 1px solid red; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    margin: auto;

}
#img2{
    width:80px;
    height: 80px;
    border-radius: 50%;
}
#child01{
    padding: 10px;
    /* border: 1px solid cyan; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#child011{
    display: flex;
    /* border: 1px solid red; */
    width: 60%;
    justify-content: space-between;
    height: 100%;
    
}
#child111{
    /* border: solid; */
    width:60%
}
#futimg1{
    width: 90%;
    /* border: solid; */
}
#form{
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    width: 50%;
    padding: 55px 25px;
    box-sizing: border-box;
    margin-left: 40px;
    
    }
    .inputs{
        border: none;
        outline: none;
      padding-left: 28px;
      margin-top: 16px;
   }
  input::placeholder{
        font-size: 13px;
        font-family: "IBM Plex Sans",sans-serif;
  }
  .description{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
width: 100%;
border: 0;
outline: none;
height: 75px;
margin-bottom: 65px;
}
.btn{
    font-family: "IBM Plex Sans",sans-serif;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: 0;
  border-radius: 5px;
    background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%)
}
.btn+p{
    font-size: 13px;
    color: gray;
}
a{
    text-decoration: none;
     color: blue;
    font-weight: 500;
}

@media screen and (min-width:650px) and (max-width:900px){
    #child1{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(1,350px);
        
        /* border: 1px solid red; */
        width: 90%;
       
    }
    #helpparent{
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background: #f8f8f8;
        margin: auto;
    
    }
    .child11{
        height: 250px;
        width:130px;
        /* border: 1px solid red; */
    }
    .btna1{
        /* border: 2px solid ; */
        border-radius: 20px;
        height:30px;
        width:20%;
        margin-top: 50px;
        background-color: #895dc8;
        color: white;
        font-weight: 600;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .abtn11{
        margin-right: 80px;
        margin-left: 0px;
    }
    .btn2{
        /* border: 2px solid ; */
        border-radius: 20px;
        height:30px;
        width:6%;
        /* margin-top: 50px; */
        background-color: #895dc8;
        color: white;
        font-weight: 600;
        
    }
    .childprice ul{
        display: none;
    }
    #custom{
        display: none;
    }
    #pricingparent2{
        display: grid;
        grid-template-columns: repeat(3,35%);
        /* border: 1px solid red; */
        margin-top: 50px;
        background: #f8f8f8;
    }
    .pa{
        display: none;
    }
    
    #startparent{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        margin: auto;
        justify-content: space-between;
    }
    #image{
        width:100%;
        height:300px;
        /* border: 1px solid; */
    }
    #startchild{
        /* border: 1px solid red; */
        width: 90%;
        padding: 20px;
        height: 100%;
    }
    #startchild button{
        width:20%;
        height:35%;
        background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%);
        border: none;
        border-radius: 40px;
    }
    #child01{
        padding: 10px;
        /* border: 1px solid cyan; */
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    #child011{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        justify-content: space-between;
        height: 100%;
        display: none;
        
    }
    #child111{
        /* border: solid; */
        width:60%
    }
    #futimg1{
        width:100%;
        /* border: solid; */
    }
    #form{
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        border-radius: 4px;
        width: 50%;
        padding: 55px 25px;
        box-sizing: border-box;
        /* margin-left: 40px; */
        
        }
        .inrbtn{
            background-color:#4e00ac;
            border: none;
            color: white;
            height: 40px;
            width:60%;
            border-radius: 10px;
        }
        .inrbtn:hover{
            transform: rotate(5deg);
            cursor:pointer;
        }
}
@media screen and (max-width:649px) and (min-width:450px) {
    #child1{
        display: grid;
        grid-template-columns: repeat(2,55%);
        grid-template-rows: repeat(2,200px);
        /* border: 1px solid red; */
        width: 90%;
        
        
    }

    .child11{
        height: 100%;
        width:80%;
        /* border: 1px solid red; */
    }

    .btna1{
        /* border: 2px solid ; */
        border-radius: 20px;
        height:30px;
        width:20%;
        margin-top: 50px;
        background-color: #895dc8;
        color: white;
        font-weight: 600;
        /* margin-left: 40px; */
        margin-bottom: 40px;
        margin-left: 5px;
    }
    
    .abtn11{
        margin-right: 10px;
        margin-left: 0px;
    }
    .btn2{
        /* border: 2px solid ; */
        border-radius: 20px;
        height:30px;
        width:8%;
        /* margin-top: 50px; */
        background-color: #895dc8;
        color: white;
        font-weight: 600;
        
    }
    .childprice{
        width: 100%;
        /* border: 1px solid blue; */
        /* height: 100%; */
        height: 100%;
        margin: auto;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 5px;
    }
    .childprice ul{
        display: none;
    }
    #custom{
        display: none;
    }
    
    #pricingparent2{
        display: grid;
        grid-template-columns: repeat(1,70%);
        grid-template-rows: repeat(3,33%);
        gap: 20px;
        /* border: 1px solid red; */
        margin-bottom: 50px;
        height: 100%;
        margin-top: 50px;
        background: #f8f8f8;
        justify-content: center;

    }
    .pa{
        display: none;
    }
    #startparent{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: space-between;
    }

    #image{
        width:100%;
        height:200px;
        /* border: 1px solid; */
    }
    #startchild{
        /* border: 1px solid red; */
        width: 90%;
        padding: 20px;
        height: 100%;
    }
    #startchild button{
        width:20%;
        height:35%;
        background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%);
        border: none;
        border-radius: 40px;
    }

    #child011{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        justify-content: space-between;
        height: 100%;
        display: none;
        
    }
    #helpparent{
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background: #f8f8f8;

    }
    #child01{
        display: none;
    }
    #form{
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        border-radius: 4px;
        width: 90%;
        padding: 55px 25px;
        box-sizing: border-box;
        /* margin-left: 40px; */
        
        }
        .inputs{
            border: none;
            outline: none;
          padding-left: 28px;
          margin-top: 16px;
       }
      input::placeholder{
            font-size: 13px;
            font-family: "IBM Plex Sans",sans-serif;
      }
      .description{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    border: 0;
    outline: none;
    height: 75px;
    margin-bottom: 65px;
    }
    .btn{
        font-family: "IBM Plex Sans",sans-serif;
      padding: 12px 25px;
      font-size: 18px;
      font-weight: 500;
      color: white;
      border: 0;
      border-radius: 5px;
        background: linear-gradient(106.71deg,#4300a3 11.13%,#6100bb 85.15%,#a700f1 116.91%)
    }
    .btn+p{
        font-size: 13px;
        color: gray;
    }
    a{
        text-decoration: none;
         color: blue;
        font-weight: 500;
    }
    #nomargin{
        margin-left: 0px;
    }
    .inrbtn{
        background-color:#4e00ac;
        border: none;
        color: white;
        height: 40px;
        width:40%;
        border-radius: 10px;
    }
    .inrbtn:hover{
        transform: rotate(5deg);
        cursor:pointer;
    }

}